.nav-link:hover {
  background-color: burlywood;
}

.card-bodi-icon {
  position: absolute;
  z-index: 0;
  top: 60px;
  right: 4px;
  opacity: 0.4;
  font-size: 100px;
}

a {
  text-decoration: none;
}
